@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pirata One", system-ui;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./img/landscape.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    width: 550px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 12px;
    color: #fff;
    padding: 40px 30px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    backdrop-filter: blur(5px);
}

.container h1 {
    font-size: 40px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 40px;
    outline: none;
    font-size: 24px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: whitesmoke;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
}

.remember-pass {
    display: flex;
    justify-content: space-between;
    margin: -10px 0 20px;
    font-size: 20px;
}

.remember-pass label input {
    accent-color: #fff;
    margin-right: 5px;
}

.remember-pass a {
    text-decoration: none;
    color: whitesmoke;
}

.remember-pass a:hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 35px;
    background-color: whitesmoke;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 22px;
}

.login:hover {
    background-color: transparent;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    transition: 0.5s;
}

.reg-link {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 15px;
}

.reg-link a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
}

.reg-link a:hover {
    text-decoration: underline;
}